extends layout/admin_layout
    block content
        .container#contenedorReact
    block scripts
    script(src="/public/libsReact/react.production.min.js")
    script(src="/public/libsReact/react-dom.production.min.js")
    script(src="/public/AdminPages/ModuleAdministrative/admin.js")